/* .main{   
  height: 70vh;
    justify-content: center;
    background: rgb(96,235,255);
background: linear-gradient(90deg, rgba(96,235,255,1) 21%, rgba(96,235,255,1) 72%, rgba(2,0,36,1) 100%);
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
margin-top: auto;
border-radius: 50px;
width: 600px;
text-align: center;
}

.inputs{
    
    
    
} */